@using Microsoft.AspNetCore.Components.Authorization
@using SupportTicket.Client.Providers
@using SupportTicket.Client.Services
@inherits LayoutComponentBase
@inject ISessionStorageService SessionStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a @onclick="OnLogout">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    public async Task OnLogout()
    {
        await SessionStorageService.RemoveItemAsync("token");
        ((AuthorizedStateProvider)AuthenticationStateProvider).NotifyUserAuthentication(string.Empty);
    }
}
